*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    
/*Navbar */
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.options{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 17%; 
}
a{
    color: #dd0031;
    text-decoration:none
}
.logo{
    height: 90px;
    padding-left: 60px;
    border-right: inset 1px;
    
}
.loc>img{
    height: 30px;
    margin-left: 10px;
    padding-top: 2px;        
}
.loc{
    margin-bottom: 17px;
}
.SigninCss{
    margin-left: -7%;
    margin-right: 40px;
}
.navbar>button{
    width: 150px;
    height: 50px;
    background-color: #dd0031;
    border-radius: 20px;
    padding-bottom: 50px;
    margin-left: 125px ;
  }
  .navbar>button>a>h3{
    color: white;
  }
  /*add*/
#toop{
margin: auto;
padding-top: 8%;
color: #dd0031;
}
#box{
margin-right: 50px;

}
#Address{
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 80px;
padding-top: 10px;
}
#help{
border: 1px solid #CFD8DC;
height: 40px;
text-align: center;
padding-top: 20px;
color: #90A4AE;
}
#T_bar{
   /* max-width: 600px;
   max-height: 50px; */
   color:#212121;
   font-family: system-ui;

}
h2{
   color: #dd0031;
   margin-top: 0px;
}
#Add_form > div{
 margin-top: 50px;
 border: 1px solid white;
 border-bottom: 1px solid gray;
 width: 70%;
}
#Add_form > div > input{
   border: 0px solid white;
   margin-bottom: 10px;
   outline: none;
}
#cit_stat{
   display:flex;

}
#stat{
   margin-left: 30px;
}
#T_add{
   display: flex;
   margin-top: 30px;
   
}
select{
   margin-left: 20px;
}
#continue{
   height: 40px;
   max-width: 200px;
   color: white;
   background-color:#dd0031;
   border-radius: 2px;
   text-align: center;
   margin: auto;
   border: 0px solid #e02378;
   cursor: pointer;
}
#continue > p{
   margin: auto;
   padding-top: 6px;
}
#manage{
   display: flex;
   margin-left: 0px;
}
#Jeet{
   margin-left: 20px;
   border: 0px solid white;
}
#Jeet > input{
   border: 1px solid white;
   outline: none;

}
#cit_stat > div > input{
   border: 0px solid white;
   margin-bottom: 10px;
   outline: none;
}
#Jeet  > input{
  margin-bottom: 10px;
  outline: none;
}
select{
  border: none;
}
.clear{
  clear: both;
}
.flt{
float: left;
}

#warn{
color: red;
font-size: 20px;
margin-left: 31%;
padding: 10px;
}
/*bottom*/
.bottom{
background: url(https://d1fd34dzzl09j.cloudfront.net/Images/CFACOM/Footer%20Images/footer-burger-phone-desktop-new-3.jpg);
margin-top:300px;
background-repeat: no-repeat;
background-size: 100% ;

}
.bottom>div{
padding:3% 10% 5% 60%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
font-size: large;
color: #485259;
}
.bottom>div>img{
width: 30%; 
}

/*footer*/
@font-face { 
font-family:apercu;
src:url(https://d31iqi82ivd0ac.cloudfront.net/apercu-regular.eot);
src:url(https://d31iqi82ivd0ac.cloudfront.net/apercu-regular.woff2) format("woff2"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-regular.woff) format("woff"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-regular.ttf) format("truetype"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-regular.svg#apercu-regular) format("svg"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-regular.eot#iefix) format("embedded-opentype");
font-weight:400;
font-style:normal;
} 
@font-face { 
font-family:apercu;
src:url(https://d31iqi82ivd0ac.cloudfront.net/apercu-medium.eot);
src:url(https://d31iqi82ivd0ac.cloudfront.net/apercu-medium.woff2) format("woff2"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-medium.woff) format("woff"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-medium.ttf) format("truetype"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-medium.svg#apercu-medium) format("svg"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-medium.eot#iefix) format("embedded-opentype");
font-weight:600;
font-style:normal;
} 
@font-face { 
font-family:apercu;
src:url(https://d31iqi82ivd0ac.cloudfront.net/apercu-bold.eot);
src:url(https://d31iqi82ivd0ac.cloudfront.net/apercu-bold.woff2) format("woff2"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-bold.woff) format("woff"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-bold.ttf) format("truetype"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-bold.svg#apercu-bold) format("svg"),url(https://d31iqi82ivd0ac.cloudfront.net/apercu-bold.eot#iefix) format("embedded-opentype");
font-weight:800;
font-style:normal;
} 
@font-face { 
font-family:icomoon;
src:url(https://d2wl1kt18tqdum.cloudfront.net/v2.1.2549-stageb/Assets/Theming/css/fonts/icomoon.eot?c5r3y4);
src:url(https://d2wl1kt18tqdum.cloudfront.net/v2.1.2549-stageb/Assets/Theming/css/fonts/icomoon.eot?c5r3y4#iefix) format("embedded-opentype"),url(https://d2wl1kt18tqdum.cloudfront.net/v2.1.2549-stageb/Assets/Theming/css/fonts/icomoon.ttf?c5r3y4) format("truetype"),url(https://d2wl1kt18tqdum.cloudfront.net/v2.1.2549-stageb/Assets/Theming/css/fonts/icomoon.woff?c5r3y4) format("woff"),url(https://d2wl1kt18tqdum.cloudfront.net/v2.1.2549-stageb/Assets/Theming/css/fonts/icomoon.svg?c5r3y4#icomoon) format("svg");
font-weight:400;
font-style:normal;
} 

footer { 
display: block;
} 

.footer { 
background: #fff; 
position: relative; 
z-index: 30;
} 

.frame { 
padding-top: 64px; 
position: relative; 
z-index: 300;
} 

.home .frame { 
padding-top: 64px;
} 

body { 
margin:    0;
font-family:   apercu,sans-serif;
font-size:  1.6rem; 
color:  #485259; 
font-variant-ligatures:  none; 
-webkit-font-variant-ligatures:  none; 
-webkit-font-smoothing:  antialiased;
padding-top: 0;
} 

html { 
-ms-text-size-adjust:   100%; 
-webkit-text-size-adjust:   100%; 
font-size:   62.5%;
font-family:  sans-serif;
color: #222;
} 

:root { 
--yxt-color-brand-primary:   #0f70f0; 
--yxt-color-brand-hover:   #0c5ecb; 
--yxt-color-text-primary:   #212121; 
--yxt-color-borders:   #dcdcdc; 
--yxt-font-weight-normal:   400; 
--yxt-font-weight-light:   300; 
--yxt-font-size-md-lg:   1rem; 
--yxt-line-height-md:   1.4; 
--yxt-line-height-lg:   1.5; 
--yxt-base-spacing:   1rem; 
--yxt-searchbar-focus-shadow-height:  0.625rem; 
--yxt-searchbar-button-background-color-base:  #fff; 
--yxt-searchbar-button-text-color-base:  var(--yxt-color-text-primary); 
} 

.wrapper { 
margin: 0 auto; 
max-width: 1380px; 
padding: 0 30px; 
width: auto;
} 

.footer-modules { 
box-pack: justify; 
-moz-justify-content: space-between; 
-ms-justify-content: space-between; 
-o-justify-content: space-between; 
justify-content: space-between; 
-ms-flex-pack: justify; 
background-color: #fff; 
display: flex; 
padding: 40px 30px 25px; 
max-width: none;
} 

:selection { 
background: #b3d4fc; 
text-shadow: none;
} 

nav { 
display: block;
} 

ul { 
margin:  1em 0;
padding: 0 0 0 40px;
} 

nav ul  { 
list-style: none; 
list-style-image: none;
} 

.footer-nav ul  { 
margin: 0; 
padding: 0; 
position: relative;
} 

.social-icons { 
list-style: none; 
margin: 0; 
padding: 0;
} 

.footer-nav li  { 
cursor: pointer; 
-webkit-text-decoration-color: #dd0031; 
text-decoration-color: #dd0031; 
text-decoration: none; 
display: inline-block; 
margin-right: 25px; 
font-weight: 600;
} 

.footer-nav li:hover  { 
text-decoration: none; 
transition: 1s;
} 

.social-icons li  { 
display: inline-block; 
margin-left: 5px;
} 

.social-icons li:first-child  { 
margin-left: 0;
} 

a { 
border-bottom:  2px dotted transparent; 
color:  #dd0031; 
text-decoration:  none;
transition: color .5s ease;
} 

a:not(.btn-round):not(.btn)  { 
border: 0; 
transition: all .3s ease;
} 

a:active,a:hover { 
outline: 0;
} 

a,a:hover { 
transition: color .5s ease;
} 

@media only screen and (min-width: 959px){ 
a:hover { 
color: #af272f;
} 
}     

.footer-nav li ul  { 
font-size: 1.2rem; 
left: 0; 
line-height: 20px; 
margin-top: 8.65px; 
position: absolute; 
width: 100%;
} 

[class^="icon-"] { 
font-family: icomoon; 
font-style: normal; 
font-weight: 400; 
font-variant: normal; 
text-transform: none; 
line-height: 1; 
-moz-osx-font-smoothing: grayscale; 
-webkit-font-smoothing: antialiased;
} 

.social-icons a  { 
border: 0;
} 

.social-icons [class^="icon-"]  { 
font-size: 3.5rem;
} 

.icon-facebook-over:before { 
content: "\e901";
} 

.social-icons a:hover  { 
color: #af272f;
} 

.icon-instagram-over:before { 
content: "\e900";
} 

.icon-twitter-over:before { 
content: "\e912";
} 

.icon-youtube-over:before { 
content: "\e913";
} 

.icon-linkedin-over:before { 
content: "\e938";
} 

.footer-nav li ul li  { 
margin-right: 15px; 
cursor: auto; 
font-weight: 500; 
white-space: nowrap;
} 

@media screen and (min-width: 960px){ 
.footer-nav li ul li  { 
margin-bottom: 4px;
} 
}     

.footer-nav li ul li:hover  { 
text-decoration: none;
} 

.social-icons span  { 
border: 0; 
clip: rect(0 0 0 0); 
height: 1px; 
margin: -1px; 
overflow: hidden; 
padding: 0; 
position: absolute; 
width: 1px;
} 

.footer-nav li ul a  { 
cursor: pointer; 
-webkit-text-decoration-color: #dd0031; 
text-decoration-color: #dd0031; 
text-decoration: none; 
color: #485259; 
font-weight: 600;
} 

.footer-nav li ul a:hover  { 
text-decoration: underline; 
transition: 1s; 
border-color: #485259;
}